nav {
    position: fixed;
    height: 120px;
    width: 100%;
    background-color: #5d73bb;
    color: #FFFFFF;
    top: 0;
    left: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav span {
    font-family: "Bungee", sans-serif;
}

nav div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.write-tweet {
    background-color: transparent;
    border: none;
}
.fa-solid {
    color: red;
}
.bounce {
    content: "";
    height: 50px;
    margin: 0 auto 0 auto;
    width: 50px;
    animation: bounce 2s cubic-bezier(0.28, 0.84, 0.42, 1) infinite;
  }
  @keyframes bounce {
    0% {
      transform: scale(1, 1) translateY(0);
    }
    10% {
      transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
      transform: scale(0.9, 1.1) translateY(-20px);
    }
    50% {
      transform: scale(1.05, 0.95) translateY(0);
    }
    57% {
      transform: scale(1, 1) translateY(-3px);
    }
    64% {
      transform: scale(1, 1) translateY(0);
    }
    100% {
      transform: scale(1, 1) translateY(0);
    }
  }

@media screen and (min-width: 1024px) {
    nav {
        height: 100px;
    }
}
